<!DOCTYPE html>
<html>
<head>
  <title>Graphql rails ui for api apps</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "graphql_rails_ui_for_api_apps/application", media: "all" %>
  <%= javascript_include_tag "graphql_rails_ui_for_api_apps/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
